// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Background Images
@mixin background-image($attachment: fixed) {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-attachment: $attachment !important;

  // Attachment scroll on mobile and unsupported browsers
  html.touch & { background-attachment: scroll !important; }
}


// Vertical Alignment
@mixin vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


// Ease (For Image Overlay)
@mixin ease($time:333ms, $el: all, $anim: ease-in-out, $del: 0) {
    transition: $el $time $anim $del;
}


// Breakpoints
$breakpoints: (
  'phone':   ( max-width:  600px ),
  'tablet':  ( max-width:  900px ),
  'laptop': ( max-width:  1024px ),
  'large':  ( min-width: 1500px )
);

// Responsive
@mixin breakpoint($name) {
      @if map-has-key($breakpoints, $name) {
        @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  }
  @else {
    @warn "Couldn't find a breakpoint named `#{$name}`.";
  }
}