.broz_box {
  background:#ddd;
  padding: 15px 0 0;
}

.broz_box h3, 
.broz_box p {
  width: 79%;
  float: left;
}
.broz_head {
  float: right;
  width: 21%;
}

.h1_broz_box {
  font-family: 'Lato', 'Gill Sans', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 17px;
  color: #666;
  margin: 0px;
  padding: 7px 0 2px 0;
}