.hero {
	text-align: center;
	height: 330px;
	@include background-image(scroll);

	.content-wrap{
		@include vertical-align;
	}

	h1,p {
	color: white;
	}

	h1 {
		margin-bottom: 0;
	}

	p {
		margin-top: 0;
	}

	a {

	}
}

.services {
	background: white;
	padding: 2em 0;
	margin-bottom: 2em;


	.services-column {
		float: left;
		
	}

.services_image {
	width: 100%;
	border: 1px solid #ccc;
	margin-bottom: 5px;
	}
}

